/* Text fields */
.inputs {
  left: 0;
  margin: auto;
  max-width: 320px;
  right: 0;
  text-align: left;
  width: calc(100vw - 25px - 25px - 25px - 25px);
}

/* Descriptive texts */
.inputs label {
  display: block;
  margin-left: 2px;
}

/* "Sign up" and "Sign in" Button */
button {
  margin-top: 20px;
  max-width: 320px;
  width: calc(100vw - 25px - 25px - 25px - 25px);
}

/* Additional text */
form p {
  border: 1px solid #7fa1bb;
  left: 0;
  line-height: 1.15;
  margin: 15px auto 0;
  max-width: 300px;
  padding: 5px 0;
  right: 0;
  width: calc(100vw - 25px - 25px - 25px - 25px - 10px - 10px);
}
